@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-black: #333333;
  --text-primary: #B88E2F;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

.MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
  width: 453px;
  height: 75px;
  outline: none !important;
  border-radius: 10px;
}

@layer base {
  .nextbtn {
    box-shadow: 0px 4px 14px 1px #00000029;
  }

  .active-img {
    outline: 2px solid #a5a1a1;

  }

  .noScroll::-webkit-scrollbar {
    display: none !important;
  }
}